<div id="<%= dom_id tweet %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Body:</strong>
    <%= tweet.body %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= tweet.user_id %>
  </p>

</div>
