<div id="<%= dom_id follow %>">
  <p class="border p-2">
    <strong class="block font-medium mb-1">Follower: <%= follow.follower.email %></strong>
    <strong class="block font-medium mb-1">Followee: <%= follow.followee.email %></strong>
  </p>
</div>
